<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar imagem -->
  <img src="../../assets/img/thi corte generation 02 IMG_2857.jpg" style="width:100%">
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>SOBRE</p>
  </a>
  <a href="#pitch" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>PITCH</p>
  </a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTATO</p>
  </a>
</nav>

<!-- Navbar  -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">CASA</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">SOBRE</a>
    <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">PITCH</a>
    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTATO</a>
  </div>
</div>

<!-- Pagina -->
<div class="w3-padding-large" id="main">
  <!-- Header -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo">Thiago Pedroso</h1>
    <p>Desenvolvedor Web Full Stack Java Jr</p>
    <img src="../../assets/img/thi generation 01 IMG_2851.JPG" alt="Thiago Pedroso Foto" class="w3-image" width="496"
      height="554">
  </header>

  <!-- Sobre -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">Sobre</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>Gosto de dizer que, desafios me motivam e o conhecimento me cativa. Sou filho de uma mulher preta, uma verdadeira
      guerreira. Sou pai. Em minha ultima experiência tive o privilégio de ser o Tech Lead do Projeto
      Alimentizze. Prazer, me chamo Thiago Pedroso. Formado em Turismo pela UNESP, hoje realizando um sonho, sou
      Graduando do
      Curso de Análise e desenvolvimento de sistemas pela UCS, e Desenvolvedor Web Full Stack Java Jr pela Generation
      Brasil.
    </p>


    <h3 class="w3-padding-16 w3-text-light-grey">Soft Skills</h3>


    <p class="w3-wide">Liderança</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:100%"></div>
    </div>

    <br>


    <p class="w3-wide">Proatividade</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:100%"></div>
    </div>

    <br>


    <p class="w3-wide">Trabalho em Equipe</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:100%"></div>
    </div>


    <br>


    <p class="w3-wide">Alto Astral</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:100%"></div>
    </div>


    <br>


    <p class="w3-wide">Curiosidade e Vontade em Aprender</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:100%"></div>
    </div>



    <br>


    <h3 class="w3-padding-16 w3-text-light-grey">Hard Skills</h3>


    <p class="w3-wide">Lógica da Programação</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:80%"></div>
    </div>

    <br>


    <p class="w3-wide">Orientação a Objetos e Eventos</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:75%"></div>
    </div>

    <br>


    <p class="w3-wide">Java</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:65%"></div>
    </div>


    <br>

    <p class="w3-wide">Python</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:33%"></div>
    </div>


    <br>


    <p class="w3-wide">SQL</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:70%"></div>
    </div>


    <br>


    <p class="w3-wide">NoSQL</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:40%"></div>
    </div>


    <br>


    <p class="w3-wide">SpringBoot</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:60%"></div>
    </div>


    <br>


    <p class="w3-wide">API Rest</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:55%"></div>
    </div>


    <br>


    <p class="w3-wide">Data Security</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:33%"></div>
    </div>


    <br>


    <p class="w3-wide">JUnit</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:21%"></div>
    </div>


    <br>


    <p class="w3-wide">Docker</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:21%"></div>
    </div>


    <br>


    <p class="w3-wide">HTML5</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:65%"></div>
    </div>


    <br>


    <p class="w3-wide">CSS3</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:65%"></div>
    </div>


    <br>


    <p class="w3-wide">JavaScript</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:40%"></div>
    </div>


    <br>


    <p class="w3-wide">TypeScript</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:65%"></div>
    </div>


    <br>


    <p class="w3-wide">Bootstrap</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:80%"></div>
    </div>


    <br>


    <p class="w3-wide">Angular</p>
    <div class="w3-white">
      <div class="w3-green" style="height:28px;width:70%"></div>
    </div>


    <br>




    <!-- Trabalhos anteriores -->
    <h3 class="w3-padding-16 w3-text-light-grey">Última Experiência</h3>
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half w3-margin-bottom">
        <img src="../../assets/img/Alimentizze (2).png" alt="Alimentizze logo">
      </div>

      <div class="w3-half">
        <ul class=" w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Projeto Alimentizze</li>
          <li class="w3-padding-16"> JUL 2021 - SET 2021 </li>
          <li class="w3-padding-16 w3-content w3-justify">
            <p>

              O trabalho tem como objetivo criar uma plataforma de conexão
              entre interessados em ajudar, e ongs que fazem trabalhos voltados
              a doação de alimentos para pessoas com necessidades.
              Desenvolvido sobretudo para esse momento de pandemia.
              Efetuado um desenvolvimento Full Stack, com a utilização das
              Tecnologias SpringBoot, em linguagem Java para Back-End com
              um banco de dados relacionais em MySql e PostergreeSQL. E o
              Front-End com a framework Angular.JS, com suas tecnologias
              adjuntas de marcação, estilização, e dinamismo (HTML, CSS,
              TypeScript, JavaScript e Bootstrap). Aproveitando ainda outras
              ferramentas necessárias para um bom desenvolvimento.

            </p>
          </li>

          <li class="w3-light-grey w3-padding-24">
            <a href="https://alimentizze.netlify.app/">
              <button class="w3-button w3-white w3-padding-large w3-hover-green w3-margin-right"> Plataforma</button>
            </a>

            <a href="https://github.com/SuCastro/ProjetoAlimentizze">
              <button class="w3-button w3-white w3-padding-large w3-hover-green"> Repositório</button>
            </a>
          </li>
        </ul>
      </div>



      <!-- TRABALHOS ANTERIORES -->
    </div>






    <!-- RECOMENDACOES -->
    <h3 class="w3-padding-24 w3-text-light-grey">Recomendações</h3>

    <img src="../../assets/img/Tamis.JPG" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-margin-right">Tamires Guimarães</span></p>
    <p>O Thiago é a alegria em pessoa, muito leve trabalhar com ele, se mostra sempre focado e disposto a ouvir os
      outros colaboradores, tem uma curva de aprendizado veloz e isso enfatiza suas habilidades técnicas no
      desenvolvimento de projetos. Tive a oportunidade de ver na prática seu comportamento de liderança e trabalho em
      equipe. Obrigada pelas experiências e conhecimentos adquirido pela sua facilitação.</p>
    <br>


    <img src="../../assets/img/Lucao.JPG" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-margin-right">Lucas Queiroz</span></p>
    <p>Thiago é uma pessoa muito inteligente, atento aos detalhes, trabalha muito bem em grupo, revolvedor de problemas
      e tem extrema facilidade com códigos.
      Raciocínio logico e rápido são pontos muito visíveis nele, além de ser intensamente dedicado a tudo que se propõe
      a fazer.
      Excelente Comunicação entre outras tantas qualidades.</p>

    <br>

    <img src="../../assets/img/Rhoger.JPG" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-margin-right">Rhoger Miranda</span></p>
    <p>Uma pessoal muito inteligente, sensata e criativa. Sabe muito bem como realizar as tarefas designadas e respeita
      totalmente os objetivos propostos. Uma pessoal Maravilhosa e muito educada. Tem muita destreza em relação aos
      desafios propostos. Uma pessoa incrível !!!</p>

    <br>



    <img src="../../assets/img/Jooh.JPG" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-margin-right">Joelma Bittencourt</span></p>
    <p>Persistência define o Thiago, trabalha super bem em equipe e esta sempre pronto para ajudar o proximo.</p>

    <br>







    <!-- Sessao Sobre mim -->
  </div>

  <!-- Sessao Portifolio -->
  <div class="w3-padding-64 w3-content" id="pitch">
    <h2 class="w3-text-light-grey">Pitch Pessoal</h2>
    <hr style="width:200px" class="w3-opacity">

    <!-- Grid for video -->
    <div class="w3-row-padding " style="margin:0 -16px">
      <div class="w3-center">
        <video class="w-100" width="400" height="300" autoplay controls
          src="../../assets/video/Pitch Thiago Pedroso.mp4"></video>
      </div>


      <!-- Video grid -->
    </div>
    <!-- Sessao portifolio -->
  </div>

  <!-- Contatos -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Entre em contato</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker w3-hover-opacity fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> São Paulo, BR</p>


      <p><i class="fa fa-whatsapp w3-hover-opacity fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> 
        WhatsApp:  <a href="https://api.whatsapp.com/send?phone=5511998285753">+55 011 99828-5753 </a></p>


      <p><i class="fa fa-envelope w3-hover-opacity fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email:
        <a href="mailto:thi.pedroso.soares@gmail.com?">thi.pedroso.soares@gmail.com </a></p>


      <p><i class="fa fa-linkedin w3-hover-opacity fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> LinkedIn:
        <a href="https://www.linkedin.com/in/thipedroso/">linkedin.com/in/thipedroso/</a></p>


      <p><i class="fa fa-github w3-hover-opacity fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Github:
        <a href="https://github.com/ThiagaoCode">github.com/ThiagaoCode </a></p>


      
    </div>

    <br>

    <!-- Contatos -->
  </div>

  <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge w3-center">

   
    <p class="w3-medium"> © Copyright 2021: <a href="https://github.com/ThiagaoCode" target="_blank"
        class="w3-hover-text-green">Thiago Pedroso</a></p>
    <!-- footer -->
  </footer>

  <!-- PAGINA -->
</div>